/* branding */
@media (min-width: 1360px) {
  main {
    width: 1065px;
    margin: 0 auto;
  }
  .branding__holder {
    background-color: #df2b0e;
    background: url("https://www.irozhlas.cz/sites/default/files/uploader_unmanaged/ms-2022-big-_220502-151350_ace.png")
      50% 0 no-repeat fixed;
  }
  .page-header-branding .header .header__top {
    padding-top: 7px;
  }
}
/* main */

#hokej {
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.hokejFlex {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  justify-content: space-around;
}

.hokejFlex > div {
  width: 200px;
}

#hokej-container {
  position: relative;
  height: 450px;
}

#submit {
  position: relative;
}

@media only screen and (max-width: 975px) {
  #hokej-container {
    overflow-x: scroll;
    height: 750px;
    padding-bottom: 250px;
    margin-bottom: -250px;
  }
}

#hokej-container > * {
  position: absolute;
}

.hokej-desc-q {
  top: -25px;
  font-weight: bold;
  font-variant: small-caps;
}

.hokej-select {
  width: 200px;
}

.hokej-select-0 {
  top: 0px;
}

.hokej-select-1 {
  top: 40px;
}

.hokej-bracket-1 {
  left: 200px;
  top: 37px;
}

.hokej-select-2 {
  top: 113px;
}

.hokej-select-3 {
  top: 153px;
}

.hokej-select-4 {
  top: 236px;
}

.hokej-select-5 {
  top: 276px;
}

.hokej-bracket-2 {
  left: 200px;
  top: 273px;
}

.hokej-select-6 {
  top: 349px;
}

.hokej-select-7 {
  top: 389px;
}

.hokej-desc-s {
  left: 256px;
  top: -25px;
  font-weight: bold;
  font-variant: small-caps;
}

.hokej-select-8 {
  left: 256px;
  top: 58px;
}

.hokej-select-9 {
  left: 256px;
  top: 98px;
}

.hokej-bracket-3 {
  left: 456px;
  top: 94px;
}

.hokej-select-10 {
  left: 256px;
  top: 294px;
}

.hokej-select-11 {
  left: 256px;
  top: 334px;
}

.hokej-desc-f {
  left: 510px;
  top: -25px;
  font-weight: bold;
  font-variant: small-caps;
}

.hokej-select-12 {
  left: 510px;
  top: 104px;
}

.hokej-select-13 {
  left: 510px;
  top: 144px;
}

.hokej-bracket-4 {
  left: 710px;
  top: 141px;
}

.hokej-desc-w {
  left: 753px;
  top: -25px;
  font-weight: bold;
  font-variant: small-caps;
}

.hokej-select-14 {
  left: 753px;
  top: 123px;
}

.hokej-desc-t {
  left: 753px;
  top: 283px;
  font-weight: bold;
  font-variant: small-caps;
}

.hokej-select-15 {
  left: 753px;
  top: 313px;
}

.hokej-select-dummy-0 {
  left: 510px;
  top: 294px;
}

.hokej-select-dummy-1 {
  left: 510px;
  top: 334px;
}

.hokej-bracket-5 {
  left: 710px;
  top: 331px;
}

input:invalid {
  background-color: pink;
}

.flag {
  padding-right: 5px;
}

/* based on bootstrap buttons */

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-right: 10px;
  margin-top: 10px;
}

#btn-reset {
  background-color: #00a6ff;
  border-color: #00a6ff;
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-green {
  color: #fff;
  background-color: #009900;
  border-color: #009900;
}

.btn-green:hover {
  color: #fff;
  background-color: #009900;
  border-color: #009900;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #ececec;
  border-color: #ececec;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");html[data-theme='dark']{--color-text: #e3e5e9;--color-text-88: #e3e5e9;--color-text-100: #fff;--color-bd: rgba(98,111,143,0.5);--color-bd-solid: var(--color-bd);--color-bd-light: var(--color-bd);--color-bg: #23242b;--color-bg-0: rgba(35,36,43,0);--color-bg-50: rgba(35,36,43,0.5);--color-bg-80: rgba(35,36,43,0.8);--color-bg-90: rgba(35,36,43,0.9);--color-bg-light: #2c2e3a;--color-bg-sidebar-toggle: var(--color-bg-light);--color-bg-panel: var(--color-bg-light);--color-bg-station-body: var(--color-bg);--color-bg-progress: #3f4450;--color-bg-overlay-button-hover: var(--color-bg);--color-bg-select-option-hover: rgba(255,55,60,0.12);--color-bg-message: var(--color-bg-light);--color-bg-interactive-player-btn: var(--color-primary);--color-table-head: #292b36;--color-slider-label: #e3e5e9;--color-menu-link: #8f97a9;--box-shadow: 0 4px 20px 0 rgba(0,0,0,0.66);--box-shadow-timeline: 0px -20px 20px rgba(255,255,255,0.5)}html[data-theme='contrast']{--color-black-66: #575a5d;--color-blue: #0010b3;--color-blue-lighter: #000f37;--color-gray-darker: #575a5d;--color-text: #000f37;--color-text-88: #000f37;--color-bd: #e3e5e9;--color-bg-progress: #7d8599;--color-bg-btn: #b20033;--font-weight-semibold: bold}html{--color-black-44: #e3e5e9;--color-black-66: #7d8599;--color-black-88: #575a5d;--color-black-100: #000f37;--color-black-100-40: rgba(0,15,55,0.4);--color-error: #f42454;--color-success: #01c27a;--color-warning: #f2b609;--color-black: #000;--color-black-10: rgba(0,0,0,0.1);--color-black-50: rgba(0,0,0,0.5);--color-black-0: rgba(0,0,0,0);--color-white: #fff;--color-white-0: rgba(255,255,255,0);--color-red: #fd443a;--color-red-light: #ff6f6f;--color-red-lighter: #e47c7c;--color-red-lightest: #fad8d8;--color-red-dark: #e21116;--color-red-darker: #a43021;--color-blue: #375cff;--color-blue-light: #7f9de0;--color-blue-lighter: #a5afc3;--color-green: #30d126;--color-green-dark: #3da82d;--color-orange: #f78b2d;--color-orange-dark: #fc5836;--color-gray: #c4c8d0;--color-gray-light: #ebebef;--color-gray-dark: #9fa3ba;--color-gray-darker: #8f97a9;--color-primary: #ff373c;--color-link: #ff373c;--color-text: #7d8599;--color-text-88: #575a5d;--color-text-100: #000f37;--color-bd-full: #d4d3dc;--color-bd: rgba(212,211,220,0.5);--color-bd-solid: #e9e9ed;--color-bd-light: #e3e5e9;--color-bd-lighter: rgba(227,229,233,0.22);--color-bg: #fff;--color-bg-0: rgba(255,255,255,0);--color-bg-50: rgba(255,255,255,0.5);--color-bg-80: rgba(255,255,255,0.8);--color-bg-90: rgba(255,255,255,0.9);--color-bg-light: #f7f7f7;--color-bg-overlay-solid: #030f18;--color-bg-overlay: rgba(3,15,24,0.8);--color-bg-overlay-light: rgba(3,15,24,0.71);--color-bg-overlay-dark: rgba(3,15,24,0.95);--color-bg-sidebar-toggle: #f2f3f4;--color-bg-panel: #fff;--color-bg-station-body: rgba(227,229,233,0.3);--color-bg-progress: #e3e5e9;--color-bg-overlay-button-hover: #f7f7f7;--color-bg-select-option-hover: rgba(255,55,60,0.03);--color-bg-message: #000f37;--color-bg-img: #7d8599;--color-bg-btn: var(--color-primary);--color-bg-result-live: rgba(255,55,60,0.05);--color-bg-interactive-player-btn: #222221;--color-table-head: #eee;--color-slider-label: #37414b;--color-menu-link: #575a5d;--color-play-btn-progress: #ffb2b1;--box-shadow: 0 0 20px 0 rgba(56,68,117,0.13);--box-shadow-black: 0 5px 20px 0 rgba(0,0,0,0.2);--box-shadow-black-light: 0 5px 20px 0 rgba(0,0,0,0.1);--box-shadow-black-dark: 0 5px 20px 0 rgba(21,29,44,0.35);--box-shadow-player-handle: 0 0 10px 0 rgba(255,55,60,0.5);--box-shadow-audio-footer-sidebar: 0 0 10px 0 rgba(0,15,55,0.2);--box-shadow-toggle-switch-slider: 0 0 5px 0 rgba(0,0,0,0.23);--box-shadow-toggle-switch-slider-toggled: 0 1px 1px 0 rgba(0,0,0,0.5);--box-shadow-timeline: 0px -20px 20px rgba(27,27,81,0.07);--font-weight-semibold: 600;--offset-scroll: 0px}.mrp-dropdown__list,.mrp-share-icons__list,.mrp-podcasts-list{margin:0}.mrp-dropdown__item,.mrp-share-icons__item,.mrp-podcasts-list__item{margin:0;padding:0;background:none}[data-theme='dark'] .mrp-dropdown__item,[data-theme='dark'] .mrp-share-icons__item,[data-theme='dark'] .mrp-podcasts-list__item{background:none}.mrp-holder,.mrp-popover{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:15px;line-height:1.466666667;box-sizing:border-box;letter-spacing:normal}.mrp-holder *,.mrp-holder *::before,.mrp-holder *::after,.mrp-popover *,.mrp-popover *::before,.mrp-popover *::after{box-sizing:inherit}.mrp-holder p,.mrp-popover p{margin-top:0}.mrp-holder button,.mrp-popover button{cursor:pointer}@keyframes is-loading{100%{transform:rotate(360deg)}}@keyframes loading-placeholder{0%,100%{opacity:.1}50%{opacity:.2}}.mrp-holder{font-family:"Nunito",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;max-width:568px;margin-bottom:20px}.mrp-holder__wrap,.mrp-holder__body{box-shadow:0 0 20px 0 rgba(56,68,117,0.13)}.mrp-holder__wrap{background-color:#fff;border-radius:4px}.mrp-holder__img{border-top-left-radius:inherit;border-top-right-radius:inherit;overflow:hidden}.mrp-holder__img+.mrp-holder__body{border-top-left-radius:0;border-top-right-radius:0}.mrp-holder__body{border-radius:inherit;position:relative}.mrp-holder__media{padding:10px 15px 10px 94px}.mrp-holder__header{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;height:86px}.mrp-holder__controls,.mrp-holder__info{margin-top:6px}.mrp-holder__controls{margin-left:-94px}.mrp-holder__info{margin-bottom:0}.mrp-holder__logo{color:#ff373c;font-size:0}.mrp-holder__logo ~ .mrp-holder__footer{padding-right:110px}.mrp-holder__play{font-size:0;position:absolute;top:21px;left:15px}.mrp-holder__actions{position:absolute;top:-20px;right:15px;display:-ms-flexbox;display:flex;margin-left:-8px;z-index:2}.mrp-holder__actions>*{margin-left:8px}.mrp-holder__volume-holder{position:relative}.mrp-holder__volume{width:25%;padding-left:10px}.mrp-holder__footer,.mrp-holder__queue{border-top:2px solid rgba(212,211,220,0.5)}.mrp-holder__footer{padding:10px 15px 10px 15px}.mrp-holder__brand{background-color:#1a1a1e;color:#fff;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;padding:5px 10px}.mrp-holder__brand .mrp-holder__logo{color:#519fd7;margin-left:10px}.mrp-holder__claim{font-size:14px;line-height:1.428571429;margin-bottom:0;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;min-width:0}.mrp-holder__claim svg{-ms-flex-negative:0;flex-shrink:0;color:#519fd7;margin-right:10px}.mrp-holder__claim span{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}.mrp-holder__unavailable{background-color:#e3e5e9;color:#9098aa;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;font-size:16px;line-height:1.5;padding:6px 15px;border-radius:inherit}.mrp-holder__expired{background-color:#9098aa;padding:7px 15px;color:#fff;font-size:13px;line-height:1.230769231}.mrp-holder__expired>*{font-size:inherit;line-height:inherit}.mrp-holder__expired>:last-child{margin-bottom:0}.mrp-holder__toggle-btn{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;color:inherit;padding:0;background:none;border:0;font-size:14px;line-height:1.142857143;padding:10px 15px;margin:-6px -15px -6px 0;transition:color 0.2s ease-out}.mrp-holder__toggle-btn svg{margin-left:8px}.mrp-holder__expired+.mrp-holder__queue{border-top:0}.mrp-holder__message:last-child{border-radius:inherit}.mrp-holder__message:not(:first-child){border-top-left-radius:0;border-top-right-radius:0}.mrp-holder__logo--bottom-right{position:absolute;bottom:12px;right:15px}.mrp-holder__unavailable.is-expanded{border-radius:0}.mrp-holder--skeleton .mrp-img::before,.mrp-holder--skeleton .mrp-img::after{display:none}.mrp-holder--skeleton .mrp-btn{background-color:#ff373c;animation:loading-placeholder 2s infinite}.mrp-holder--skeleton .mrp-series-title,.mrp-holder--skeleton .mrp-show-title,.mrp-holder--skeleton .mrp-duration,.mrp-holder--skeleton .mrp-holder__logo{background-color:currentColor;border-radius:4px;animation:loading-placeholder 2s infinite}.mrp-holder--skeleton .mrp-series-title{width:50%;height:19px}.mrp-holder--skeleton .mrp-show-title{width:100%;height:66px}.mrp-holder--skeleton .mrp-duration{height:19px;width:40px}.mrp-holder--skeleton .mrp-holder__logo{width:80px;height:14px}.mrp-holder__toggle-btn:hover,.mrp-holder__toggle-btn:focus{color:#000f37}@media (max-width: 479.98px){.mrp-holder__volume{display:none}.mrp-holder--disabled .mrp-holder__media{padding-top:10px}.mrp-holder--disabled .mrp-holder__play{display:none}}@media (min-width: 480px){.mrp-holder{margin-bottom:40px}.mrp-holder__controls{display:-ms-flexbox;display:flex}.mrp-holder__progress{width:75%}}.mrp-img{color:#fff;background-color:#d8d8d8;position:relative;margin:0}.mrp-img::before,.mrp-img::after{content:'';position:absolute;left:0;width:100%;height:34px;z-index:1}.mrp-img::before{top:0;background-image:linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%)}.mrp-img::after{bottom:0;background-image:linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%)}.mrp-img__holder{position:relative}.mrp-img__holder::before{content:'';padding-top:56.25%;display:block}.mrp-img__img{position:absolute;top:0;left:0;width:100%;height:100%}.mrp-img__logo,.mrp-img__caption{position:absolute;left:15px;z-index:2}.mrp-img__logo{top:10px;font-size:0}.mrp-img__caption{white-space:initial;text-overflow:initial;display:-webkit-box;-webkit-line-clamp:5;/*! autoprefixer: ignore next */-webkit-box-orient:vertical;overflow:hidden;font-family:inherit;font-size:12px;line-height:16px;font-weight:600;letter-spacing:-.09px;text-shadow:0 0 2px rgba(0,0,0,0.5);padding:0;bottom:9px;max-width:calc(100% - 26px)}.mrp-img__caption a{color:inherit;text-decoration:underline}.mrp-img__caption a:hover,.mrp-img__caption a:focus{color:inherit;text-decoration:none}.mrp-logo{display:inline-block;font-size:0}a.mrp-logo{color:inherit}.mrp-logo:hover,.mrp-logo:focus{color:#ff373c}.mrp-series-title{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;color:#7d8599;font-size:14px;line-height:19px;letter-spacing:-.22px;margin-bottom:4px}.mrp-series-title a{color:inherit;text-decoration:underline}.mrp-series-title a:hover,.mrp-series-title a:focus{text-decoration:none}@media (min-width: 480px){.mrp-series-title{margin-right:144px}}.mrp-show-title{white-space:initial;text-overflow:initial;display:-webkit-box;-webkit-line-clamp:3;/*! autoprefixer: ignore next */-webkit-box-orient:vertical;overflow:hidden;color:#000f37;font-size:16px;line-height:22px;max-height:66px;font-weight:600;letter-spacing:-.1px;margin-bottom:0}.mrp-holder--disabled .mrp-show-title{color:#7d8599}.mrp-duration{display:block;font-size:12px;line-height:16px;letter-spacing:-.2px;color:#7d8599;padding-top:2px;padding-bottom:1px}.mrp-btn{-webkit-appearance:none;-moz-appearance:none;appearance:none;position:relative;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;font-size:0;padding:0;border:0;background:none;border-radius:50px;cursor:pointer;transition:background-color 0.2s ease-out,box-shadow 0.2s ease-out;z-index:0;box-sizing:border-box}.mrp-btn__icon{display:block;border-radius:inherit}.mrp-btn--primary{color:#fff;background-color:#ff373c;box-shadow:0 2px 3px 0 rgba(255,55,60,0.19)}.mrp-btn--primary::before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;border-radius:inherit;background-image:linear-gradient(111deg, #f78b2d 0%, #ff373c 100%);z-index:-1;transition:opacity 0.2s ease-out}.mrp-btn--secondary{color:#fff;background-color:#575a5d}.mrp-btn--lg{width:64px;height:64px}.mrp-btn--md{width:40px;height:40px}.mrp-btn--progress{border:4px solid #fff;box-shadow:0 0 11px 0 rgba(255,55,60,0.25)}.mrp-btn--progress .mrp-btn__icon{box-shadow:0 1px 13px 0 rgba(43,101,250,0.25)}.mrp-btn--primary:hover::before,.mrp-btn--primary:focus::before{opacity:0}.mrp-btn--primary:focus{box-shadow:0 2px 3px 0 rgba(255,55,60,0.19),0px 0px 6px 3px rgba(255,55,60,0.5)}.mrp-btn--secondary:hover,.mrp-btn--secondary:focus{background-color:#000f37}.mrp-btn--secondary:focus{box-shadow:0px 0px 6px 3px rgba(0,15,55,0.5)}.mrp-btn--progress:focus{box-shadow:0 0 11px 0 rgba(255,55,60,0.25),0px 0px 6px 3px rgba(255,55,60,0.5)}.mrp-btn:disabled{color:#f7f7f7;background-color:#e3e5e9;cursor:not-allowed}.mrp-btn:disabled.mrp-btn--primary{box-shadow:none}.mrp-btn:disabled.mrp-btn--primary::before{display:none}.mrp-btn.is-loading{cursor:not-allowed;background-color:#c4c8d0}.mrp-btn.is-loading::before{display:none}.mrp-btn.is-loading::after{content:'';display:block;pointer-events:none;width:50%;height:50%;border-style:solid;border-color:currentColor currentColor currentColor transparent;border-radius:50%;animation:is-loading 1s infinite linear}.mrp-btn.is-loading.mrp-btn--md::after{border-width:2px}.mrp-btn.is-loading.mrp-btn--lg::after{border-width:4px}.mrp-following{font-size:14px;line-height:19px;letter-spacing:-.44px;margin-bottom:0}.mrp-following__label{color:#7d8599}.mrp-following__show-title{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;color:#000f37}@media (max-width: 479.98px){.mrp-following__label,.mrp-following__show-title{display:block}.mrp-following__label{margin-bottom:4px}}@media (min-width: 480px){.mrp-following{display:-ms-flexbox;display:flex}.mrp-following__label{width:64px;margin-right:15px}}.mrp-not-available{font-weight:600;font-size:12px;line-height:16px;letter-spacing:-.2px;color:#7d8599;margin-bottom:0;margin-right:110px;padding-top:2px;padding-bottom:1px}.mrp-not-available a{color:#ff373c;text-decoration:underline}.mrp-not-available a:hover,.mrp-not-available a:focus{text-decoration:none}.mrp-progress{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}.mrp-progress__label{color:#7d8599;font-size:12px;line-height:16px;letter-spacing:-.2px;padding-top:2px;padding-bottom:1px}.mrp-progress__holder{padding:8px 0;position:relative;-ms-flex:1 0 auto;flex:1 0 auto}.mrp-progress__bg{height:3px;border-radius:3px;overflow:hidden;position:relative;background-color:#e3e5e9}.mrp-progress__bar{position:absolute;top:0;left:0;bottom:0;width:100%;transform-origin:0 50%;background-image:linear-gradient(243deg, #ff373c 0%, #f78b2d 95%)}.mrp-progress__bar--buffer{opacity:.4}.mrp-progress__handle-wrap{position:absolute;top:0;left:0;z-index:1}.mrp-progress__handle{position:absolute;top:0;left:0;width:19px;height:19px;transform:translateX(-50%);cursor:-webkit-grab;cursor:grab;transition:transform 0.2s ease-out}.mrp-progress__handle::after{content:'';position:absolute;top:4px;left:4px;width:11px;height:11px;background-color:#ff373c;box-shadow:0 0 12px 0 rgba(253,68,58,0.5);border-radius:50%}.mrp-progress__btn{width:14px;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-size:0;padding:2px 0;border:0;background:none;color:#9fa3ba;transition:color 0.2s ease-out}.mrp-progress__label--time{white-space:nowrap;text-align:center;width:94px}.mrp-progress__label--icon{font-size:0}.mrp-progress__label--icon:first-child{margin-right:5px}.mrp-progress__label--icon:last-child{margin-left:8px}.mrp-progress__handle:hover,.mrp-progress__handle:focus{transform:translateX(-50%) scale(1.5)}.mrp-progress__handle:focus{outline:0}.mrp-progress__btn:hover{color:#000f37}.mrp-dropdown{width:240px;position:absolute;top:100%;right:-10px;opacity:0;visibility:hidden;transition:opacity 0.2s ease-out,visibility 0.2s ease-out;border:1px solid #e9e9ed;border-radius:2px;background-color:#fff;box-shadow:0 0 10px 0 rgba(0,0,0,0.07),0 0 20px 0 rgba(56,68,117,0.13);padding:8px 0;margin-top:2px}.mrp-dropdown__list{font-size:14px;line-height:18px;font-weight:600;letter-spacing:-.23px}.mrp-dropdown__link{color:#000f37;display:-ms-flexbox;display:flex;padding:7px 16px;transition:background-color 0.2s ease-out}.mrp-dropdown__size{font-size:12px;color:#7d8599;margin-left:auto;padding-left:10px}.mrp-dropdown__link:hover,.mrp-dropdown__link:focus{text-decoration:none;background-color:#f7f7f7}.mrp-dropdown.is-opened{opacity:1;visibility:visible}.mrp-media{position:relative;padding:10px 15px 10px 70px}.mrp-media:not(:last-child){border-bottom:2px solid rgba(212,211,220,0.5)}.mrp-media__header{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;min-height:44px}.mrp-media__info{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;color:#8f97a9;font-size:14px;line-height:19px;letter-spacing:0;margin-bottom:3px}.mrp-media__info:empty{display:none}.mrp-media__playing{color:#ff373c;font-weight:600}.mrp-media__play{font-size:0;position:absolute;top:12px;left:15px}.mrp-media--playing{background-color:rgba(253,68,58,0.05)}.mrp-media--disabled{padding-left:15px}@media (max-width: 479.98px){.mrp-media__duration{margin-top:6px}}@media (min-width: 480px){.mrp-media{padding-left:94px;padding-right:70px}.mrp-media__duration{position:absolute;top:25px;right:15px}.mrp-media__play{left:27px}.mrp-media--disabled{padding-left:15px}}.mrp-message{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;padding:10px 15px;border-radius:inherit;min-height:64px}.mrp-message__icon{width:40px;-ms-flex-negative:0;flex-shrink:0;margin-right:15px;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center}.mrp-message__icon svg{width:30px;height:30px}.mrp-message__content{font-size:16px;line-height:1.375;font-weight:600}.mrp-message__content small{font-size:14px;display:block;line-height:1.285714286;margin-bottom:4px}.mrp-message--info{background-color:#8f97a9;color:#fff}.mrp-message--info .mrp-message__icon{color:#e3e5e9}.mrp-message--warning{background-color:#e3e5e9;color:#000f37}.mrp-message--warning .mrp-message__icon{color:#8f97a9}@media (min-width: 480px){.mrp-message__icon{width:64px}}.mrp-station-logo{display:-ms-flexbox;display:flex}.mrp-station-logo svg{width:auto;height:22px}.mrp-station-logo--d-dur{color:#AB035C}.mrp-station-logo--dvojka{color:#85248F}.mrp-station-logo--jazz{color:#00809E}.mrp-station-logo--mujrozhlas{color:#519fd7}.mrp-station-logo--plus{color:#DE7008}.mrp-station-logo--radiowave{color:#CDA200}.mrp-station-logo--radiozurnal,.mrp-station-logo--radiozurnal-sport{color:#ED2E38}.mrp-station-logo--vltava{color:#00B8E0}.mrp-station-logo--archiv,.mrp-station-logo--cro6,.mrp-station-logo--cro7,.mrp-station-logo--leonardo,.mrp-station-logo--prague,.mrp-station-logo--radiojunior,.mrp-station-logo--retro,.mrp-station-logo--webik,.mrp-station-logo--pohoda,.mrp-station-logo--zikmund{color:#000F37}.mrp-station-logo--brno,.mrp-station-logo--cb,.mrp-station-logo--hradec,.mrp-station-logo--kv,.mrp-station-logo--liberec,.mrp-station-logo--olomouc,.mrp-station-logo--ostrava,.mrp-station-logo--pardubice,.mrp-station-logo--plzen,.mrp-station-logo--regina,.mrp-station-logo--regiony,.mrp-station-logo--sever,.mrp-station-logo--strednicechy,.mrp-station-logo--vysocina,.mrp-station-logo--zlin{color:#00AB96}.mrp-station-logo--radio-ua{color:#005bb9}.mrp-live{font-family:"Nunito",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;width:620px;height:100px;background-color:#fff;box-shadow:0 0 20px rgba(56,68,117,0.13);font-size:16px;line-height:1.5;letter-spacing:normal}.mrp-live__holder{padding:18px 24px;position:relative;height:100%;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}.mrp-live__heading{min-height:49px;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-8px;min-width:0;-ms-flex:1 0 auto;flex:1 0 auto;max-width:46.328671329%}.mrp-live__heading>*{margin-left:8px !important}.mrp-live__heading>*:last-child{margin-bottom:0}.mrp-live__title{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-family:inherit;font-size:16px !important;line-height:1.375;color:#000f37 !important;width:calc(100% - 8px);margin-top:0 !important;margin-bottom:0;height:22px;font-weight:bold}.mrp-live__station{margin-bottom:5px}.mrp-live__playing{-ms-flex-item-align:end;align-self:flex-end;margin-bottom:5px;font-size:12px;line-height:1.333333333;font-weight:bold;color:#ff373c;margin-top:0}.mrp-live__play-btn{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;margin:0 16px 0 0;-ms-flex-order:-1;order:-1;-ms-flex-negative:0;flex-shrink:0}.mrp-live__play-btn .mrp-btn{-ms-flex-negative:0;flex-shrink:0}.mrp-live__logo{position:absolute;top:8px;right:8px;color:#575a5d;line-height:0}.mrp-live__following{font-size:inherit;line-height:inherit;margin-top:0;margin-bottom:0;margin-left:24px;padding-left:24px;border-left:2px solid #ff373c;min-height:49px;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:end;justify-content:flex-end;min-width:0}.mrp-live__following-desc{font-size:12px;line-height:1.333333333;color:#575a5d;font-weight:bold;margin-bottom:5px}.mrp-live__following-title{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:14px;line-height:1.571428571;font-weight:bold;color:#000f37;height:22px}.mrp-live__play-label,.mrp-live__volume{display:none}.mrp-live--sm{width:258px;height:160px}.mrp-live--sm .mrp-live__holder{display:block;padding:24px}.mrp-live--sm .mrp-live__heading{min-height:74px;max-width:none}.mrp-live--sm .mrp-live__station{margin-bottom:8px}.mrp-live--sm .mrp-live__title{white-space:initial;text-overflow:initial;display:-webkit-box;-webkit-line-clamp:2;/*! autoprefixer: ignore next */-webkit-box-orient:vertical;overflow:hidden;font-size:18px !important;line-height:1.222222222;height:44px}.mrp-live--sm .mrp-live__playing,.mrp-live--sm .mrp-live__following{display:none}.mrp-live--sm .mrp-live__logo{top:auto;bottom:8px;height:13px}.mrp-live--sm .mrp-live__logo svg{width:auto;height:100%}.mrp-live--sm .mrp-live__play-btn{position:relative}.mrp-live--sm .mrp-live__play-btn .mrp-btn{width:36px;height:36px;position:static}.mrp-live--sm .mrp-live__play-btn .mrp-btn::before{width:36px;height:36px}.mrp-live--sm .mrp-live__play-btn .mrp-btn svg{width:100%;height:100%}.mrp-live--sm .mrp-live__play-btn .mrp-btn.is-loading::after{width:20px;height:20px;top:8px;left:8px;border-width:1px}.mrp-live--sm .mrp-live__play-btn .mrp-btn__icon::before{content:'';position:absolute;top:0;bottom:0;left:0;right:0}.mrp-live--sm .mrp-live__play-btn{margin-top:8px}.mrp-live--sm .mrp-live__play-label{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:12px;line-height:1.333333333;color:#ff373c;font-weight:bold;margin-left:4px;display:block}@media (max-width: 767.98px){.mrp-live{width:258px;height:160px}.mrp-live__holder{display:block;padding:24px}.mrp-live__heading{min-height:74px;max-width:none}.mrp-live__station{margin-bottom:8px}.mrp-live__title{white-space:initial;text-overflow:initial;display:-webkit-box;-webkit-line-clamp:2;/*! autoprefixer: ignore next */-webkit-box-orient:vertical;overflow:hidden;font-size:18px !important;line-height:1.222222222;height:44px}.mrp-live__playing,.mrp-live__following{display:none}.mrp-live__logo{top:auto;bottom:8px;height:13px}.mrp-live__logo svg{width:auto;height:100%}.mrp-live__play-btn{position:relative}.mrp-live__play-btn .mrp-btn{width:36px;height:36px;position:static}.mrp-live__play-btn .mrp-btn::before{width:36px;height:36px}.mrp-live__play-btn .mrp-btn svg{width:100%;height:100%}.mrp-live__play-btn .mrp-btn.is-loading::after{width:20px;height:20px;top:8px;left:8px;border-width:1px}.mrp-live__play-btn .mrp-btn__icon::before{content:'';position:absolute;top:0;bottom:0;left:0;right:0}.mrp-live__play-btn{margin-top:8px}.mrp-live__play-label{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:12px;line-height:1.333333333;color:#ff373c;font-weight:bold;margin-left:4px;display:block}}.mrp-popover{z-index:1000;overflow:visible !important}.mrp-share-dialog{background-color:#fff;border:1px solid #e9e9ed;border-radius:8px;box-shadow:0 5px 20px 0 rgba(0,0,0,0.2);padding:15px;color:#7d8599;font-size:15px;font-family:"Nunito",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;min-width:220px}.mrp-share-dialog__title{font-size:inherit;line-height:inherit;margin-bottom:15px}.mrp-share-dialog__form-group{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;margin-bottom:20px;transition:opacity 0.2s ease-out}.mrp-share-dialog input.mrp-share-dialog__time{border:1px solid #7d8599;padding:0;font-size:inherit;line-height:inherit;color:#000f37;background-color:#fff;width:60px;padding:0 5px;border-radius:4px;text-align:center;margin-left:10px;transition:border-color 0.2s ease-out}.mrp-share-dialog__btn{border:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:none;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-align:center;align-items:center;font-size:inherit;line-height:inherit;font-family:inherit;padding:5px;margin:-5px}.mrp-share-dialog__btn svg{margin-right:5px}.mrp-share-dialog input.mrp-share-dialog__time:focus{outline:none;border-color:#000f37;box-shadow:none}.mrp-share-dialog__form-group--disabled{opacity:0.5}.mrp-share-dialog__form-group--disabled .mrp-share-dialog__time{pointer-events:none}@media (min-width: 768px){.mrp-share-dialog{padding:20px}}.mrp-share-icons__list{padding:0;list-style:none;display:-ms-flexbox;display:flex;margin:0 0 -10px -10px}.mrp-share-icons__item{margin:0 0 10px 10px}.mrp-share-icons__link{display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;width:24px;height:24px;border-radius:50%;border:0;background-color:#ff373c;color:#fff;position:relative;-webkit-appearance:none;-moz-appearance:none;appearance:none;transition:box-shadow 0.2s ease-out}.mrp-share-icons__link:link,.mrp-share-icons__link:visited{color:#fff}.mrp-share-icons__link svg{position:relative}.mrp-share-icons__link::before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-image:linear-gradient(111deg, #f78b2d 0%, #ff373c 100%);transition:opacity 0.2s ease-out;border-radius:50%}.mrp-share-icons__link:hover::before,.mrp-share-icons__link:focus::before{opacity:0}.mrp-share-icons__link:focus{box-shadow:0px 0px 4px 2px rgba(255,55,60,0.5)}.mrp-checkbox{cursor:pointer;display:-ms-inline-flexbox;display:inline-flex;font-size:14px;line-height:18px}.mrp-checkbox input.mrp-checkbox__control{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0 0 0 0);border:0}.mrp-checkbox__label{text-transform:none;position:relative;padding:3px 0 1px 24px;transition:colot 0.2s ease-out}.mrp-checkbox__label::before,.mrp-checkbox__label::after{content:'';position:absolute;border-radius:4px}.mrp-checkbox__label::before{border:1px solid currentColor;width:16px;height:16px;left:0;top:3px}.mrp-checkbox__label::after{background-color:#ff373c;width:12px;height:12px;left:2px;top:5px;opacity:0;visibility:hidden;transition:opacity 0.2s ease-out,visibility 0.2s ease-out}.mrp-checkbox__control:checked ~ .mrp-checkbox__label{color:#000f37}.mrp-checkbox__control:checked ~ .mrp-checkbox__label::after{opacity:1;visibility:visible}.mrp-toaster-wrapper{position:relative;width:100%}.mrp-toaster{position:absolute;left:15px;right:15px;top:40px;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex-align:center;align-items:center;z-index:1001}.mrp-toaster-message{margin:0 auto;box-shadow:0 5px 20px 0 rgba(21,29,44,0.35);background-color:#000f37;color:#e3e5e9;border-radius:4px}.mrp-toaster-message+.mrp-toaster-message{margin-top:10px}.mrp-toaster-message__content{padding:10px 15px;font-size:15px;line-height:1.333333333;margin-bottom:0}.mrp-toaster-message-enter{opacity:0}.mrp-toaster-message-enter-active{opacity:1;transition:opacity 0.2s ease-out}.mrp-toaster-message-exit{opacity:1}.mrp-toaster-message-exit-active{opacity:0;transition:opacity 0.2s ease-out}.mrp-podcasts-list{font-size:16px;line-height:1.25;font-weight:600}.mrp-podcasts-list__link{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;padding:5px 15px;transition:colot 0.2s ease-out,background-color 0.2s ease-out}.mrp-podcasts-list__link,.mrp-podcasts-list__link:link,.mrp-podcasts-list__link:visited{color:#000f37}.mrp-podcasts-list__icon{-ms-flex-negative:0;flex-shrink:0;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;margin-right:10px}.mrp-podcasts-list__icon svg{width:30px;height:30px}.mrp-share-dialog .mrp-podcasts-list{margin:-5px -15px}.mrp-podcasts-list__link:hover,.mrp-podcasts-list__link:focus{text-decoration:none;background-color:#f7f7f7}@media (min-width: 768px){.mrp-podcasts-list__link{padding:10px 20px}.mrp-share-dialog .mrp-podcasts-list{margin:-10px -20px}}.mrp-vhide{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0 0 0 0);border:0}
