<div class="b-data__content" id="content">
{libraries}
<script type="text/javascript">
  document.getElementsByTagName('article')[0].classList.add('b-data--no-img');
  var branding = document.createElement("div")
  branding.className = "branding";
  var brandingHolder = document.createElement("a");
  brandingHolder.href = "https://www.irozhlas.cz/sport/ms-hokej/2019";
  brandingHolder.className = "branding__holder";
  brandingHolder.onclick = "ga('gtm1.send', 'event', 'ondemand', 'click' , 'MS hokej 2019  - branding');";
  brandingHolder.innerHTML = "Mistrovství světa v hokeji 2019";
  branding.appendChild(brandingHolder);
  document.getElementsByTagName("body")[0].prepend(branding);
</script>
{styles}
<div class="row-main row-main--article">
<h1 class="b-data__title b-data__title--sm">
<!--[[ZPRAVY_TITLE:]]-->
</h1>
</div>
<!--[[ZPRAVY_SNOWFALL_METADATA:]]-->
{column}
{mainphoto}

{content}

<p class="meta meta--right meta--big">
<!--[[ZPRAVY_SNOWFALL_AUTHORS:FOOTER]]-->
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div>
